class {{ module }}_agent extends uvm_agent;
  `uvm_component_utils({{ module }}_agent)

  {{ module }}_driver drv;
  {{ module }}_sequencer sqr;
  {{ module }}_monitor mon;

  function new(string name, uvm_component parent);
    super.new(name, parent);
  endfunction

  function void build_phase(uvm_phase phase);
    super.build_phase(phase);
    drv = {{ module }}_driver::type_id::create("drv", this);
    sqr = {{ module }}_sequencer::type_id::create("sqr", this);
    mon = {{ module }}_monitor::type_id::create("mon", this);
  endfunction

  function void connect_phase(uvm_phase phase);
    super.connect_phase(phase);
    drv.seq_item_port.connect(sqr.seq_item_export);
  endfunction
endclass
